<div class="jumbotron">
    @*<h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
    <h1>:: Observações ::</h1>    
</div>
<div class="row">
    <ul>
        <li>O campo transporte deve ser assinalado <span class="spanNeg">APENAS</span> pelos atletas e torcedores lotados no ED.SEDE e TIJUCA(Mariz e Barros), indicando o local de embarque<span class="spanNeg">(CENTRO ou TIJUCA)</span>; </li>
        <li>Para as modalidades coletivas será OBRIGATÓRIA a inscrição de <span class="spanNeg">PELO MENOS UM REPRESENTANTE OU TÉCNICO</span>, mesmo que este já faça parte da equipe como atleta, pois o mesmo terá uma SENHA para administrar sua equipe; </li>
        <li>Ao colaborador que se inscrever como atleta, <span class="spanNeg">NÃO SERÁ</span> necessária a inscrição como torcedor; </li>
        <li>Os atletas que deixarem <span class="spanNeg">QUALQUER</span> item em branco <span class="spanNeg">NÃO SERÃO INSCRITOS</span> nas modalidades; </li>
        <li>Nas inscrições de equipe, observar o botão <span class="spanNeg">AVANÇAR ou CONCLUIR</span>, pois os mesmos só serão exibidos quando o preenchimento da inscrição estiver correto;</li>
        <li>Nas inscrições de equipe, observar o limite <span class="spanNeg">MÍNIMO e MÁXIMO DE ATLETAS</span>; </li>
        <li>Ao preencher o campo <span class="spanNeg">MATRICULA com o DV e EMPRESA</span>, deve-se clicar em pesquisar que <span class="spanNeg">AUTOMATICAMENTE</span> o sistema irá preencher os dados de nome, lotação e email, bastando selecionar apenas o sexo e preencher os telefones (se houver);</li>
        <li>
            Demais informações, entre em contato com a DIVIN pelo telefone <span class="spanNeg">
                2563 – 4318
            </span>.
        </li>
        <li>
            A inscrição será validada com o envio do<span class="spanNeg"> <b>ATESTADO MÉDICO</b></span>, dentro do prazo de validade, com data, assinado e carimbo do médico com CRM ou <span class="spanNeg"><b>QUESTIONÁRIO DE PRONTIDÃO PARA ATIVIDADE FÍSICA E TERMO DE RESPONSABILIDADE PARA PRÁTICA DE ATIVIDADE FÍSICA (EL-027)</b></span> devidamente preenchidos todos os seus campos, com data, nome legível e assinatura do atleta.
        </li>
        @*<%--
            <li>• Matricula deve ser inserida com DV (digito verificador).</li>--%>*@
    </ul>
</div>
<div class="row">
    <div class="col-md-6">
        <p><img src="~/Imagens/JogosInternos2017_4.png" class="img-rounded" alt="500x400" width="500" height="400"></p>
        <p><img src="~/Imagens/JogosInternos2017_7.png" class="img-rounded" alt="500x400" width="500" height="400"></p>
    </div>
    <div class="col-md-6">        
        <p><img src="~/Imagens/JogosInternos2017_1.png" class="img-rounded" alt="500x400" width="500" height="400" ></p>        
        <p><img src="~/Imagens/JogosInternos2017_3.png" class="img-rounded" alt="500x400" width="500" height="400"></p>
    </div>
</div>
